.oneCard {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	padding: 3px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    background: white;
    border-radius: 5px;
    border: solid #239b56 1px;
    float: left;
    margin-right: 12px;
    position:relative;
}

.clear {
	clear:both;
}
