.circular-menu {
  width: 250px;
  height: 250px;
  position: relative;
  width:100%;
  margin-top:30%;
}

.circle {
  width: 250px;
  height: 250px;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open.circle {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.circle .oneLink:hover, .circle .drag-enter {
	background:rgb(42, 201, 170) !important;
	opacity:0.8;
}

.circle .oneLink {
  background: #196f3d;
  border-radius: 50%;
  width: 50px;
  line-height:55px;
  height: 50px;
  padding-left: 8px;

  color: white;
  text-align: center;
  font-size:20pt;
  position:absolute;
  
  z-index:-1 !important;
}

.menu-button {
  text-align: center;
  z-index:99;
  color: white;
  font-size:24pt;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 60px;
  line-height:60px;
  width: 60px;
  position:absolute;
  
  top: calc(50% - 14px);
  left: calc(120px);
  background:#196f3d;
}
