#my-angular-slide-menu {
	transition: all 0.8s, transform 0.8s ease;
	height:100%;
}


.moveRight {
	-ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz--transform: translate(0, 0);
	transform: translate(0, 0);
}

.moveLeft {
	transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -moz--transform: translate(-100%, 0);
}
